/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @charset "utf-8";
// @import "compass/reset";


$colorBlack: #000000;
$colorWhite: #ffffff;

@mixin resetMgAndPd{
	margin:0;
	padding:0;
}

@mixin heightAndWidth($h ,$w ,$parameter){
	@if ($parameter == 1){
		height:$h;
		
	}
	@if ($parameter == 2){
		width:$w;
	}
	@if ($parameter == 3){
		width:$w;
		height:$h;
	}
	
}

.navbar-default {
    @include resetMgAndPd;
    @include heightAndWidth(60px,0,1);
    border-bottom: 1px solid #ececec;
    background: $colorWhite;
    box-sizing: border-box;
}
.mycontainer{
	margin:0 auto;
}
.background-line{
	width: 1000px;
	margin: 0 auto;
}
/*
头部图标设置
*/
.jkxy-logo {
    @include heightAndWidth(40px,109px,3);
    box-sizing: border-box;
    vertical-align: center;
    margin-top: 10px;
}
/*头部文字块*/
.nav-firstpage {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    margin-top: 20px;
    min-width: 459px;
    ul{
	    list-style: none;
	    padding: 0;
	    li {
		    position: relative;
		    margin-left: 50px;
		    display: inline-block;
		    box-sizing: border-box;
		    a{
				color: #333;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}

/*小箭头样式*/
.arrow-icon {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transform: rotate(-135deg);
    transform-origin: 4px 4px;
    transition: transform .5s linear;
}
/*“首页”触发器*/
.nav-firstpage {
	.navb{
		li:first-child{
			.fp{
				color: rgb(53, 181, 88);
    			text-decoration: none;
    			&:hover{
				color: rgb(53, 181, 88);
    			text-decoration: none;
				}
			}			
		}
	}
}
/*箭头旋转触发器*/
/*"职业学院"、“会员课程”、“极客社区”字体颜色触发器*/
.nav-firstpage{
	.dropdown{
		&:hover{
			.arrow-icon{
				transform: rotate(45deg);
			    transform-origin: 4px 4px;
			    border-top: 1px solid rgb(53, 181, 88);
			    border-left: 1px solid rgb(53, 181, 88);
			}
			.dropdown-menu{
				display: block;
				cursor: pointer;
			}
		}
		a{
			&:hover{
				color: rgb(53, 181, 88);
			}
		}
	}
}
/*"职业学院"、“会员课程”、“极客社区”下拉菜单样式*/
.nav-firstpage{
	.dropdown-menu{
		@include resetMgAndPd;
		text-align: left;
		min-width: 300px;
		li{
			@include resetMgAndPd;
			width: 100%;
			a{
				display: block;
			    padding: 3px 20px;
			    clear: both;
			    font-weight: 400;
			    line-height: 1.42857143;
			    color: #333;
			    white-space: nowrap;
			}
			h6{
				margin: 10px 0 0;
			    padding: 0 15px;
			    background: #fafafa;
			    height: 28px;
			    line-height: 28px;
			    font-weight: 300;
			}
		}
	}
}

/*下拉菜单项图标*/

.dropdown-menu{
	$icon-list: (web,allicon,-15px,-27px),(wechat,allicon4,-2px,-16px),(zyljt,allicon,-45px,0);
	@each $icon,$name,$positionx,$positiony in $icon-list{
		.#{$icon}-icon{
			background: url(../../images/#{$name}.png) 0 0 no-repeat;
		    background-size: 64px 64px;
		    width: 14px;
		    height: 14px;
		    display: inline-block;
		    margin-right: 10px!important;
		    // background-position: -15px -27px;
		    background-position-x:$positionx;
		    background-position-y:$positiony;
		}
	}
	a{
		span{
			color: #bbb;
			float: right;
		}
	}
}
/*头部图标盒子*/
/*头部图标样式*/
/*头部图标触发器*/
.icon-box {
    float: right;
    text-align: right;
    min-width: 200px;
    margin-right: 10px;
    height: 60px;
    span{
    	height: 60px;
	    width: 17px;
	    display: inline-block;
	    margin-left: 25px;
	    cursor: pointer;
	    position: relative;
    }
    $icons:search,app,login;
    $flag:0;
    @each $icon in $icons{
    	$flag:$flag + 1;
    	.#{$icon}-icon{
    		background: url(../../images/#{$icon}-icon.png) 0 0 no-repeat;
		    background-size: 17px 17px;
		    background-position: 0, 0;
		    @if ($icon == 'app'){
		    
		    	&:hover{
			    	.dropdown-menu{
			    		display: block;
						background: #f5f5f5;
						border: none;
						box-shadow: none;
			    	}
		    	}
		    	li{
		    		img{
		    			display: block;
						width: 120px;
					    margin-left: -36px;
					    margin-top: -10px;
		    		}
		    	}
		    }
			@if($icon == 'login'){
				.dropdown-menu{
					margin-left: -50px;
					min-width: 120px;
					margin-top: -3px;
				}
				&:hover{
			    	.dropdown-menu{
			    		display: block;
			    	}
		    	}
		    	ul{
		    		li{
			    		text-align: left;
					    font-size: 12px;
					    line-height: 35px;
					    vertical-align: middle;
					    a{
				    		font-size: 12px;
							padding: 0;
							margin: 0;
							line-height: 35px;
							vertical-align: middle;
					    }
					    i{
				    		background: url(../../images/allicon2.png) 0 0 no-repeat;
						    background-size: 64px 64px;
						    width: 12px;
						    height: 12px;
						    margin-right: 10px;
						    display: inline-block;
						   	padding: 0;
							margin-left: 7px;
							vertical-align: middle;
					    }
			    	}
			    	.reg_lg{
							width: 45%;
							height: 35px;
						    line-height: 35px;
						    padding: 0 10px;
						    display: inline-block;
						    text-align: center;
					}
					$classname:(study,-16px ,-15px),(page,-45px,-1px),(message,-16px, -30px),(setting,-30px ,-1px);
					@each $name ,$px,$py in $classname{
						.#{$name}{
							background-position-x:$px;
							background-position-y:$py;
						}
					}


		    	}
			    	

			}
		    
    	}
    }
}

/*===============正文主体部分===========*/
/*各个块样式*/

.artical {
	section {
    width: 1000px;
    margin-top: 20px;
    box-sizing: border-box;
    margin-left: 0;
	}
	$section-list:(jk-nav,350px),(jiuye,140px),(jk-sku,270px),(jk-excellence,320px),
				(jk-devil,310px),(jk-college,310px),(jk-vip,430px),(jk-story,300px),(jk-partner,240px);
	@each $sectionName, $h in $section-list{
		.#{$sectionName}{
			clear: both;
			height: $h ;
			position:relative;
			margin: 0 0 40px;
			padding-top:20px;
		}
	}

}

/*副标题字体大小*/
h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}
/*=======================上半部分(无副标题区域)===============*/

/*滚动图片区域样式*/
.jk-banner {
    /*	background-color: red;*/
    height: 330px;
    width: 750px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: inline-block;
    /*图片滚动效果*/
	.img-list {
	    // -moz-animation: slide 20s infinite;
	    // -webkit-animation: slide 20s infinite;
	    @include resetMgAndPd;
	    position: absolute;
	    overflow: hidden;
		li {
			@include resetMgAndPd;
		    list-style: none;
		    float: left;
		    display: block;
		}
	}
}










/*箭头*/
.jk-banner{
	/*左箭头*/
	.banner-left {
    display: none;
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -40px;
    z-index: 2;
    cursor: pointer;
    background: url(../../images/arrow_left.png) no-repeat center;
    background-size: 50px 80px;
	}
	/*右箭头*/
	.banner-right {
	    @extend .banner-left;
	    left:700px;
	    transform: rotate(180deg);
	}
	/*箭头触发器*/
	&:hover{
		.banner-left,.banner-right{
			display: block;
		}
	}
}
/*边栏样式*/
.jk-side {
	height: 330px;
	width: 240px;
	display: inline-block;
	position: relative;
	padding-left: 5px;
	float: right;
}
/*登入框*/
.jk-login {
    height: 155px;
    box-sizing: border-box;
    width: 240px;
    background: #fff;
    margin-bottom: 15px;
}
/*用户图像样式*/
.jk-login .userinfo-img {
    float: left;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 30px;
}
/*登入框文字样式*/
.jk-login .username {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jk-login .userstatus {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
}
/*按钮字体样式*/
.jk-login .btn-font {
    color: #008000;
    border-color: #008000;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -8px;
    font-size: 13px;
    width: 88px;
    height: 36px;
}
/*登入框按钮触发器*/
.jk-login .btn-design{
	border: 1px solid #008000;
	border-radius: 0px;
	background: #fff;
}
.jk-login .btn-design:hover{
	background: #008000;
	color: #fff;
}
/*活动框样式*/
.jk-activity {
    background: #fff;
    height: 160px;
    width: 240px;    
    box-sizing: border-box;
    position: relative;
}
.jk-activity img{
	position: relative;
}
/*----------------就业班框---------------------------*/
/*表格样式*/
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
/*图片样式*/
.jiuye {
	img{
		width: 55px;
	    height: 55px;
	    vertical-align: middle;
	}
	$image-list:(ban06_2402215,php),(ban02_0aec839,web),(ban03_47f0666,ui),
			(ban04_b84d257,android),(ban05_9f8330c,ios),(ban06_2402215,java);
			@each $bgname,$image in $image-list{
				.bg-#{$image}{
					background-image: url(https://s1.jikexueyuan.com/index/images/jiuye-#{$bgname}.jpg) ;
    				background-size: 327px 70px;
				}
			}

	p{
		/*文字样式*/
		margin: 0 42px 10px;
	    position: absolute;
	    text-decoration: none;
	    display: inline-block;
	    color: #fff;
	}
	.table{
		/*阴影触发器*/
		a{
			&:hover{
				box-shadow: 10px 0px 5px #888888;
			}
		}
		// .jk-ban{
		// /*阴影延时触发器*/
		// float: left;
	 //    width: 329px;
	 //    height: 70px;
	 //    background: #fff;
	 //    margin-right: 9px;
	 //    margin-bottom: 10px;
	 //    padding-left: 33px;
	 //    line-height: 68px;
	 //    transition: box-shadow .2s linear;
	 //    -webkit-transition: box-shadow .2s linear;
		// }
	}

}
/*阴影延时触发器*/
.jk-ban {
    float: left;
    width: 329px;
    height: 70px;
    background: #fff;
    margin-right: 9px;
    margin-bottom: 10px;
    padding-left: 33px;
    line-height: 68px;
    // -webkit-transition: box-shadow .2s linear;
    // -moz-transition: box-shadow .2s linear;
    // -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
}



/*----------------优惠课-------------*/

.jk-sku {
	margin:0;
	ul {
    	@include resetMgAndPd;
    	li{
    		display: list-item;
		    list-style: none;
		    float: left;
		    width: 235px;
		    height: 100%;
		    margin-right: 20px;
		    border: 1px solid #e9e9e9;
		    transition: box-shadow .5s;
		    &:hover{
		    	box-shadow: 0px 0px 3px #333;
		    }
		    &:last-child{
		    	margin-right: 0;
		    }
		    img{
		    	height: 155px;
    			vertical-align: middle;
		    }
		    a{
		    	text-decoration: none;
		    }
    	}
	}
	.skuContainer {
	    box-sizing: border-box;
	    position: relative;
	    height: 113px;
	    background: #fff;
	    color: #000;
	    .skuTitle {
		    width: 100%;
		    overflow: hidden;
		    font-size: 15px;
		    color: #555;
		    line-height: 36px;
		    height: 36px;
		    box-sizing: border-box;
		    position: relative;
		    margin-left: 10px;
		}
		.skuInfo {
		    margin-top: 6px;
		    color: #999;
		    font-size: 12px;
		    line-height: 16px;
		    height: 16px;
		}

		.skuPrice {
		    float: left;
		    font-size: 18px;
		    color: #ff5c00;
		    vertical-align: bottom;
		    margin-right: 5px;
		    margin-top: 8px;
		}

		.skuThrought {
		    float: left;
		    font-size: 12px;
		    color: #999;
		    margin-top: 14px;
		    text-decoration: line-through;
		    vertical-align: bottom;
		}

		.skuNum {
		    display: inline-block;
		    height: 14px;
		    position: absolute;
		    bottom: 14px;
		    right: 14px;
		    color: #999;
		    font-size: 12px;
		}
	}

}

/*=================大牛程序员===================*/

.jk-excellence {
    margin: 0 auto 40px;
    height: 320px;
    ul{
    	@include resetMgAndPd;
    	li{
			list-style: none;
		    position: relative;
		    float: left;
		    margin-right: 10px;
		    padding-top: 50px;
		    a{
		    	display: block;
			    width: 100%;
			    height: 100%;
			    text-align: center;
			    color: #fff;
			    font-size: 16px;
			    text-decoration: none;
		    }
		    span{
		    	display: block;
			    font-size: 13px;
			    text-align: center;
			    margin-top: 8px;
		    }
		    i{
		    	display: inline-block;
			    z-index: 2;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: #000;
			    opacity: 0;
			    transition: opacity .8s;
		    	/*鼠标经过触发器*/
		    	&:hover{
		    		opacity: 0.5;
		    	}
		    }
		    &:nth-child(1),&:nth-child(3),
		    &:nth-child(5),&:nth-child(6){
		    	width: 345px;
    			height: 135px;
		    }
		    &:nth-child(2),&:nth-child(4),
		    &:nth-child(7),&:nth-child(8){
		    	width: 140px;
    			height: 135px;
		    }
		$bg-list:(child(1),1_04a8f60),(child(2),2_32a4b8f),(child(3),3_ab4fc6e),(child(4),4_0b4155e),
			(child(5),5_0b52a98),(child(6),6_76b8ecc),(child(7),7_5229e37),(child(8),8_31f0321);
		// $ct:0;	
			@each $nth ,$ig in $bg-list{
				// $ct:$ct + 1;
				// @if ($ct > 4){
				// 	&:nth-#{$nth}{
				// 		margin-top: 10px;
				// 	}	
				// }
				&:nth-#{$nth}{
					background: url(https://s1.jikexueyuan.com/index/images/daniu_0#{$ig}.jpg) center center no-repeat;
    				background-size: 100% 100%;
				}
			}
			&:nth-child(1){
				padding-top: 55px;
			}
			&:nth-child(4),&:nth-child(8){
				margin-right: 0;
			}
			&:nth-child(n+5) {
			    margin-top: 10px;
			}
    	}
    }
}

/*==============魔鬼程序员=================*/
@mixin fn($bg,$width,$mgt){
	background: $bg;
	width: $width;
}
/*框架样式*/
.jk-devil {
    width: 1000px;
    margin: 0 auto 40px;
    box-sizing: border-box;
    position: relative;
    height: 310px;
    ul{
    	@include resetMgAndPd;
    	/*颜色渐变触发器*/
    	li{
		    list-style: none;
		    position: relative;
		    float: left;
		    opacity: 1;
		    transition: opacity .5s;
		    // -moz-transition: opacity .5s;
		    // -webkit-transition: opacity .5s;
		    // -o-transition: opacity .5s;
			/*鼠标经过触发器*/
    		&:hover{
    			opacity: 0.7;
    		}
    		img{
    			position: relative;
    			float: left;
    		}
    		div{
    			float: left;
			    padding-top: 70px;
			    color: #fff;
			    height: 135px;
    		}
    	}
    }
    /*四组图片及框架*/
    $devil-list:(1,#df5a49,620px,-70px,margin-top),(2,#efc94c,380px,-70px,margin-top),
    		(3,#e27a3f,620px,-275px,margin-left),(4,#45b29d,380px,-205px,margin-left);
    @each $i,$bg,$w,$mgnm,$mg in $devil-list{    	
    	.devil#{$i}{
    		div{
	    		background: $bg;
			    width: $w;
			    box-sizing: border-box;
	    	}
	    	img{
	    		position:relative;
	    		#{$mg}: $mgnm;
	    	}
    	}
    }
}
/*===================职业学院====================*/
/*框架样式*/
.jk-college {
    margin-left: 0;
    width: 1000px;
    height: 310px;
    ul{
    	list-style: none;
    	padding: 0;
    	li{
    		float: left;
		    width: 240px;
		    height: 130px;
		    margin-left: 10px;
		    position: relative;
		    background: #ccc;
		    margin-bottom: 10px;
		    img{
		    	width: 240px;
			    height: 130px;
			    display: inline-block;
		    }
		    i{
		    	display: inline-block;
			    z-index: 2;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: #000;
			    opacity: 0;
			    transition: opacity .8s;
			    // -moz-transition: opacity .8s;
			    // -webkit-transition: opacity .8s;
			    // -o-transition: opacity .8s;
		    	/*颜色渐变触发器*/
		    	&:hover{
		    		opacity: 0.6;
		    	}
		    }
    	}
    }
    .web {
	    width: 500px;
	    height: 270px;
	    margin-left: 0;
	    padding: 0;
	    margin-bottom: 0;
	    img {
		    width: 500px;
		    height: 270px;
		}
		span{
			padding-top: 180px;
    		font-size: 20px;
		}

	}
	span {
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    color: #fff;
	    font-size: 14px;
	    padding-top: 88px;
	}
	$language-list:(web,cweb_2d70d0b,55px 84px),(python,cpython_5ed9df4,36px 36px),
		(go,cgo_e66208d,36px 29px),(ios,cios_dc0ca8e,32px 36px),(wx,cwechat_624099d,40px 33px);
		@each $language,$bg,$siz in $language-list{
			.#{$language}{
				span{
					background: url(https://s1.jikexueyuan.com/index/images/#{$bg}.png) no-repeat center;
    				background-size: $siz;
				}
			}
			
		}


}
/*============会员课程====================*/
/*框架样式*/
.jk-vip {
	ul {
	    list-style: none;
	    padding: 0;
	    width: 1000px;
	    height: 310px;
	    li{
    	    float: left;
		    width: 158px;
		    height: 150px;
		    border: 1px solid #e9e9e9;
		    background: #fff;
		    margin-right: 10px;
		    cursor: pointer;
		    transition: box-shadow .5s;
		    // -moz-transition: box-shadow .5s;
		    // -webkit-transition: box-shadow .5s;
		    // -o-transition: box-shadow .5s;
		    /*阴影触发器*/
		    &:hover{
	    		// -moz-box-shadow: 0px 0px 2px #888888; /* 老的 Firefox */
				box-shadow: 0px 0px 2px #888888;
		    }
		    a{
		    	text-align: center;
		    }
		    img{
		    	display: inline-block;
			    width: 55px;
			    height: 55px;
			    margin-top: 25px;
			    vertical-align: middle;
			    margin-left: 52px;
		    }
		    &:nth-child(n+7) {
			    margin-top: 10px;
			}
			&:nth-child(6),&:nth-child(12){
				margin-right: 0px;
			}
			span{
				display: block;
			    font-size: 12px;
			    color: #35b558;
			    height: 22px;
			    line-height: 22px;
			}
	    }
	}
	a{
		text-decoration: none;
		color:#555;
	}
	.vipall {
	    display: inline-block;
	    margin-top: 38px;
	    height: 32px;
	    line-height: 30px;
	    border: 1px solid #35b558;
	    border-radius: 2px;
	    width: 120px;
	    font-size: 14px;
	    color: #35b558;
	    text-align: center;
	    position: relative;
	    left: 50%;
	    margin-left: -60px;
	    transition: background .8s;
	    // -moz-transition: background .8s;
	    // -webkit-transition: background .8s;
	    // -o-transition: background .8s;
	    /*按键触发器*/
	    &:hover{
	    	background: #008000;
			color: #fff;
	    }
	}

}

/*======================学员故事====================*/
/*框架样式*/
.jk-story {
    width: 1000px;
    height: 300px;
    position: relative;
    .story-container {
	    width: 100%;
	    height: 260px;
	    position: relative;
	    overflow: hidden;
	}
	.swiper-wrapper{
		width: 4000px;
		height: 260px;
		transition-duration: 1s;
	}
	.swiper-slide{
		position: relative;
		text-align: center;
		float: left;
		background: #f5f5f5!important;
		width: 1000px;
		height: 260px;
	}
	.story-content{
		background: #fff;
		color: #555;
	}
	ul{
		@include resetMgAndPd;
		height: 260px;
		width: 100%;
		list-style: none;
		li{
			float: left;
		    width: 320px;
		    height: 200px;
		    position: relative;
		    margin-right: 20px;
		    transition: box-shadow .5s;
		    // -moz-transition: box-shadow .5s;
		    // -webkit-transition: box-shadow .5s;
		    // -o-transition: box-shadow .5s;
		    img{
		    	position: absolute;
			    top: 80px;
			    left: 20px;
			    width: 60px;
			    height: 60px;
			    border-radius: 50%;
			    border: 1px solid #e9e9e9;
		    }
		    a{
		    	text-decoration: none;
				font-size: 13px;
		    }
		    &:nth-child(3){
				margin-right: 0;
			}
		}
	}
}
/*==========================合作企业======================*/

.jk-partner {
    height: 240px;
    width: 1000px;
    .more-partner {
	    display: inline-block;
	    margin-top: 38px;
	    height: 32px;
	    line-height: 30px;
	    border: 1px solid #35b558;
	    border-radius: 2px;
	    width: 120px;
	    font-size: 14px;
	    color: #35b558;
	    text-align: center;
	    position: relative;
	    left: 50%;
	    margin-left: -60px;
	    transition: background .8s;
	    // -moz-transition: background .8s;
	    // -webkit-transition: background .8s;
	    // -o-transition: background .8s;
	}
    ul{
    	padding: 0;
	    list-style: none;
	    height: 120px;
	    li{
	    	float: left;
		    width: 150px;
		    height: 50px;
		    border: 1px solid #e9e9e9;
		    background: #fff;
		    margin-right: 20px;
		    transition: box-shadow .5s;
		    // -moz-transition: box-shadow .5s;
		    // -webkit-transition: box-shadow .5s;
		    // -o-transition: box-shadow .5s;
		    cursor: pointer;
		    &:nth-child(6),&:nth-child(12){
		    	margin-right: 0px;
		    }
		    &:nth-child(n+7){
		    	margin-top: 20px;
		    }
			$bg-list:(child(1),microsoft_82f9a9a),(child(2),tencent_47175aa),(child(3),qcloud_ab76cc7),
			(child(4),qualcomm_362a472),(child(5),cocos_2a0a8f3),(child(6),amd_f9f0c7f),(child(7),xunfei_d1cd670),
			(child(8),tuling_3ec6ea2),(child(9),tingyun_c2752df),(child(10),juhe_25bbedf),(child(11),bootstrap_d0a74f3),
			(child(12),cloudstack_6ecabb3);
			@each $chi,$bg in $bg-list{
				&:nth-#{$chi}{
					background:url(https://s1.jikexueyuan.com/index/images/p_#{$bg}.png) no-repeat center;
				}
			}
		    
	    }
    }
}
/*====================底部====================*/
footer{
	width: 100%;
	height: 300px;
	background:#fff;
	.jk-info{
		position: relative;
	    margin-top: 50px;
	    .jk-information{
			position: relative;
		    width: 1000px;
		    height: 215px;
		    margin: 0 auto;
		    border-bottom: 1px solid #f5f5f5;
		    padding-left: 224px;
		    padding-top: 25px;
		    box-sizing: border-box;
		    .jk-logo{
				position: absolute;
			    left: 20px;
			    top: 25px;
			    display: inline-block;
			    width: 160px;
			    img{
					width: 109px;
				    height: 40px;
				    display: block;
				}
				p{
					font-size: 12px;
				    color: #999;
				    margin-top: 20px;
				}
			}
			dl{
				width: 135px;
			    color: #808080;
			    float: left;
			    dd{
			    	font-size: 12px;
    				line-height: 30px;
    				a{
    					color: #808080;
						text-decoration: none;
    				}
			    }
			}
			dt{
				font-size: 14px;
			    line-height: 30px;
			    color: #808080;
			}
			.services{
				position: absolute;
			    right: 0;
			    top: 25px;
			    display: inline-block;
			    width: 175px;
			    text-align: left;
			    .hot-tel{
					color: #808080;
				    font-size: 14px;
				    margin-bottom: 20px;
				}
				.down-ios{
					background: url(../../images/icon-down-ios.png)no-repeat 0 0;
				    background-size: 30px 30px;
				}
				.down-android{
					background: url(../../images/icon-down-and.png)no-repeat 0 0;
				    background-size: 30px 30px;
				}
				img{
					display: inline-block;
				    width: 115px;
				    height: 153px;
				    position: absolute;
				    top: -157px;
				    left: 12px;
				    z-index: 2;
				    display: none;
				}
				.down-con{
					position: relative;
				    display: inline-block;
				    width: 140px;
				    height: 30px;
				    border: 1px solid #eeeeee;
				    margin-bottom: 10px;
				    line-height: 30px;
				    color: #808080;
				    font-size: 13px;
				    padding-left: 40px;
				    cursor: pointer;
				}
			}
		}
	}
	.jk-copyright{
		font-size: 12px;
	    color: #999;
	    margin: 0 auto;
	    width: 1000px;
	    text-align: center;
	    padding: 15px 0;
	    .down-wechat{
			float: right;
		    height: 15px;
		    width: 20px;
		    background: url(../../images/icon-down-wechat.png)no-repeat 0 0;
		    background-size: 18px 15px;
		}
		.down-sina{
		    float: right;
		    height: 15px;
		    width: 20px;
		    margin-right: 10px;
		    background: url(../../images/icon-down-sina.png)no-repeat 0 0;
		    background-size: 20px 15px;
		}
	}
}
/*=================返回顶部==================*/
.backtop{
	width: 510px;
	position: fixed;
	left: 50%;
	margin-left: 510px;
	width: 34px;
	text-align: center;
	z-index: 2000;
	bottom: 50px;
	.top{
		display: none;
		width: 42px;
		height: 42px;
		background-size: 42px 42px;
	    background: url(../../images/backtop.png) 0 0 no-repeat;
	}
	.erwma{
		position: relative;
		display: none;
		background: url(../../images/gotop.jpg) 0 -34px no-repeat;
	    background-size: 34px 103px;
	    width: 34px;
	    height: 35px;
	}
}


@media screen and(max-width: 992px) {
	.jk-nav .jk-side .jk-login,
	.jk-nav .jk-side .jk-activity {
		display: none;
	}
}



